@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

$orange: #ff851b;
$green: #42b983;
$blue: #5bb7db;
$red: #ff4136;

$primary: #4a4a4a !default;
$link: $green;

$info-invert: #fff;

$family-sans-serif: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;

$pagination-current-border: darken($primary, 5);

$navbar-item-active-color: $primary;

.is-borderless {
  border: none !important;
}

.is-striked {
  text-decoration: line-through;
}

.has-text-nowrap {
  white-space: nowrap;
}

h1.is-1.title {
  letter-spacing: -3px;
}

.is-outlined, .is-outlined:hover {
  color: white !important;
  background: none !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: hsl(0, 0%, 86%) !important;
}

.tag.is-light {
  color: hsl(0, 0%, 29%);
  background-color: #fff !important;
  border: 1px solid #f5f5f5 !important;
}

$vs-component-line-height: 1.6;
$vs-border-color:  hsl(0, 0%, 86%);

$vs-state-active-bg: $green;

.is-danger .vs__dropdown-toggle {
  border: 1px solid $red !important;
}

@import "vue-loading-overlay/dist/vue-loading";
@import "vue-select/src/scss/vue-select.scss";
@import '~bulma';